# Tumblr API Kimlik Bilgileri (OAuth 1.0a)
TUMBLR_CONSUMER_KEY=your_consumer_key_here
TUMBLR_CONSUMER_SECRET=your_consumer_secret_here
TUMBLR_OAUTH_TOKEN=your_oauth_token_here
TUMBLR_OAUTH_SECRET=your_oauth_token_secret_here
TUMBLR_BLOG_NAME=artfolio-db.tumblr.com

# Rijksmuseum API (Opsiyonel)
RIJKSMUSEUM_API_KEY=your_rijksmuseum_api_key_here
